.root {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    margin: 0 auto;

    .left {
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        margin: 20px 0;
        color: rgb(12, 128, 128);
        text-align: center;
    }

    .summary {
        text-align: center;
        .sum {
            font-size: 1.5rem;
            font-weight: 700;
            color: orangered;
        }
    }
    .education {
        text-align: center;
        h2 {
            color: rgb(12, 128, 128);
            font-size: 1.9rem;
            margin: 10px 0;
        }
        h5 {
            color: black;
            font-size: 1.5rem;
            margin: 5px 0;
        }
        p {
            color: orangered;
            font-size: 1.5rem;
        }
    }
    .imagediv {
        width: 40%;
        .mypics {
            width: 80%;
        }
    }

}

