.root {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
        margin-top: 2rem;
    }
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 3rem;
        margin: 1rem auto;
       

        @media screen and (max-width: 800px){
            flex-direction: column;
            margin-top: 5rem;
            width: 100%;
            padding: 0 0.5rem;
        }

        .left {
            width: 40%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 800px){
                width: 80vw;
            }
        }
        h1 {
            margin: 20px 0;
            color: rgb(12, 128, 128);
            text-align: center;
        }

        .summary {
            text-align: center;
            .sum {
                font-size: 1.5rem;
                color: orangered;
            }
        }
        .education {
            text-align: center;
            h2 {
                color: rgb(12, 128, 128);
                font-size: 1.9rem;
                margin: 10px 0;
            }
            h5 {
                color: black;
                font-size: 1.5rem;
                margin: 5px 0;
            }
            p {
                color: orangered;
                font-size: 1.5rem;
            }
        }
        .imagediv {
            width: 40%;
            display: flex;
            justify-content: center;
            @media screen and (max-width: 800px){
                width: 80vw;
            }
            .mypics {
                width: 90%;
            }
        }

    }
    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px auto;
        width: 80%;
        height: 50%;
        font-size: 1rem;
        

        h2 {
            color: rgb(12, 128, 128);
        }
        progress {
            width: 80%;
            margin-bottom: 3rem;
            @media screen and (max-width: 800px){
                width: 90%;
            }
        }
    }
}


