#contact {
    margin-top: 1rem;
    display: block;
    flex-direction: column;
    text-align: center;
    background-color: #111822;
    width: 100%;
    // height: 100%;

    h1 {
        color: #00c2cb;
        text-align: center;
        font-size: 4rem;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
        margin-top: 4rem;
    }
    .contact {
        width: 50%;
        justify-content: center;
        margin: 3rem auto;
        // height: 100%;
        @media screen and (max-width: 800px) {
            width: 90%;
        }
       .contact-form-input {
           width: 100%;
           margin-bottom: 2rem;
           height: 3rem;
           border-radius: 5px;
           padding: 5px;
           background-color: transparent;
           border: none;
           border-bottom: 1px solid #ff5757;
           color: #fff;
       }
        .contact-form-text {
            width: 100%;
            height: 6rem;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 2rem;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ff5757;
            color: #fff;
        }
        input:focus, textarea:focus {
            border: 1px solid #00c2cb;
        }
        .contact-form-button {
            width: 10rem;
            height: 3rem;
            margin-bottom: .2rem;
            background-color: transparent;
            border: 2px solid #ff5757;
            border-radius: 10px;
            color: #00c2cb;
        }
    }

    .links {
        display: flex;
        justify-content: space-around;
        margin: 1rem auto;
        width: 50%;

        .btn-links {
            color: #ff5757;
            font-size: 2rem;
        }
    }
}