.welcome-msg {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0 4rem;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        margin-top: -2rem;
        width: 80%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            color: rgb(12, 128, 128);
        }
    }
}
.welcome {
    height: 4rem;
}
.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 1.5rem;
    font-weight: 400;
    
}
.img {
    max-width: 100%;
    display: block;
}
