.welcome-msg {
    width: 100%;
    display: flex;
    justify-content: center;
}
.welcome {
    width: 45%;
}
.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 3rem;
    font-weight: 700;
}
.img {
    max-width: 100%;
    display: block;
}
