.root {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-size: 2rem;
        color: rgb(28, 128, 128);
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    p {
        font-size: 1rem;
        text-align: center;
    }
    .stack {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5rem auto;
        justify-content: center;
        background-color: #f1ffff;
        
        @media screen and (max-width: 800px) {
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }

        &-div {
            // width: 200px;

            &-img {
                width: 12rem;
                height: 10rem;
                margin: 1rem;
            }
        }
    }
    
}