.sidebar {
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-left: 2px;

}
$sidebar-width: 5rem;
$sidebar-bg-color: transparent;
$sidebar-color: #000;
$highlight-color: orangered;


@import '~react-pro-sidebar/dist/scss/styles.scss';
