.sidebar {
    width: 100%;
    
    .toolbar {
        display: flex;
        justify-content: space-between;
    }
    img {
        width: 45px;
        margin-left: 1rem;
        @media screen and (max-width: 800px){
            margin-left: 0;
        }
    }

    .nav-buttons {
        width: 50%;
        display: flex;
        justify-content: space-around;
        color: #00c2cb;
    }
}

